beautifulsoup4==4.11.1
certifi==2022.6.15
charset-normalizer==2.1.0
idna==3.3
jaraco.context==4.1.2
more-itertools==8.13.0
pyttsx3==2.90
requests==2.28.1
soupsieve==2.3.2.post1
SpeechRecognition==3.8.1
urllib3==1.26.11
wikipedia==1.4.0
wolframalpha==5.0.0
xmltodict==0.13.0
